- page_title _("System Hooks")
%h3.page-title
  System hooks

%p.light
  #{link_to _("System hooks "), help_page_path('system_hooks/system_hooks'), class: 'vlink'} can be
  used for binding events when GitLab creates a User or Project.

%hr

= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-horizontal' } do |f|
  = render partial: 'form', locals: { form: f, hook: @hook }
  .form-actions
    = f.submit _("Add system hook"), class: 'btn btn-create'
%hr

- if @hooks.any?
  .panel.panel-default
    .panel-heading
      System hooks (#{@hooks.count})
    %ul.content-list
      - @hooks.each do |hook|
        %li
          .controls
            = render 'shared/web_hooks/test_button', triggers: SystemHook::TRIGGERS, hook: hook, button_class: 'btn-sm'
            = link_to _("Edit"), edit_admin_hook_path(hook), class: 'btn btn-sm'
            = link_to _("Remove"), admin_hook_path(hook), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-remove btn-sm'
          .monospace= hook.url
          %div
            - SystemHook::TRIGGERS.each_value do |event|
              - if hook.public_send(event)
                %span.label.label-gray= event.to_s.titleize
            %span.label.label-gray SSL Verification: #{hook.enable_ssl_verification ? 'enabled' : 'disabled'}
