.blank-state-parent-container
  .section-container.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
    .container.section-body
      .row
        .blank-state-welcome
          %h2.blank-state-welcome-title
            = _("Welcome to GitLab")
          %p.blank-state-text
            = _("Code, test, and deploy together")
        - if current_user.admin?
          = render "blank_state_admin_welcome"
        - else
          = render "blank_state_welcome"
