- @no_container = true
- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "All activity")

- page_title    _("Projects")
- header_title  _("Projects"), dashboard_projects_path

= render "projects/last_push"

%div{ class: container_class }
  - if show_projects?(@projects, params)
    = render 'dashboard/projects_head'
    = render 'nav'
    = render 'projects'
  - else
    = render "zero_authorized_projects"
