- @hide_top_links = true
- @no_container = true
- breadcrumb_title _("Projects")
- page_title _("Starred Projects")
- header_title _("Projects"), dashboard_projects_path

= render "projects/last_push"

%div{ class: container_class }
  = render 'dashboard/projects_head'

  - if params[:filter_projects] || any_projects?(@projects)
    = render 'projects'
  - else
    %h3 You don't have starred projects yet
    %p.slead Visit project page and press on star icon and it will appear on this page.
