.row.prepend-top-default.append-bottom-default
  .col-lg-4
    %h4.prepend-top-0
      Project services
    %p Project services allow you to integrate GitLab with other applications
  .col-lg-8
    %table.table
      %colgroup
        %col
        %col
        %col.hidden-xs
        %col{ width: "120" }
      %thead
        %tr
          %th
          %th= _("Service")
          %th.hidden-xs Description
          %th= _("Last edit")
      - @services.sort_by(&:title).each do |service|
        %tr
          %td{ "aria-label" => "#{service.title}: status " + (service.activated? ? "on" : "off") }
            = boolean_to_icon service.activated?
          %td
            = link_to edit_project_service_path(@project, service.to_param) do
              %strong= service.title
          %td.hidden-xs
            = service.description
          %td.light
            - if service.updated_at.present?
              = time_ago_in_words service.updated_at
              ago
