- page_title _("Deploy Keys")

%h3.page-title.deploy-keys-title
  Public deploy keys (#{@deploy_keys.count})
  .pull-right
    = link_to _("New deploy key"), new_admin_deploy_key_path, class: 'btn btn-new btn-sm btn-inverted'

- if @deploy_keys.any?
  .table-holder.deploy-keys-list
    %table.table
      %thead
        %tr
          %th.col-sm-2 Title
          %th.col-sm-4 Fingerprint
          %th.col-sm-2 Projects with write access
          %th.col-sm-2 Added at
          %th.col-sm-2
      %tbody
        - @deploy_keys.each do |deploy_key|
          %tr
            %td
              %strong= deploy_key.title
            %td
              %code.key-fingerprint= deploy_key.fingerprint
            %td
              - deploy_key.projects_with_write_access.each do |project|
                = link_to project.full_name, admin_project_path(project), class: 'label deploy-project-label'
            %td
              %span.cgray
                added #{time_ago_with_tooltip(deploy_key.created_at)}
            %td
              .pull-right
                = link_to _("Edit"), edit_admin_deploy_key_path(deploy_key), class: 'btn btn-sm'
                = link_to _("Remove"), admin_deploy_key_path(deploy_key), data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-sm btn-remove delete-key'
