- page_title _("Invitation")
%h3.page-title Invitation

%p
  You have been invited
  - if inviter = @member.created_by
    by
    = link_to inviter.name, user_url(inviter)
  to join
  - case @member.source
  - when Project
    - project = @member.source
    project
    %strong
      = link_to project.name_with_namespace, project_url(project)
  - when Group
    - group = @member.source
    group
    %strong
      = link_to group.name, group_url(group)
  as #{@member.human_access}.

- is_member = @member.source.users.include?(current_user)

- if is_member
  %p
    However, you are already a member of this #{@member.source.is_a?(Group) ? "group" : "project"}.
    Sign in using a different account to accept the invitation.

- if @member.invite_email != current_user.email
  %p
    Note that this invitation was sent to #{mail_to @member.invite_email}, but you are signed in as #{link_to current_user.to_reference, user_url(current_user)} with email #{mail_to current_user.email}.

- unless is_member
  .actions
    = link_to _("Accept invitation"), accept_invite_url(@token), method: :post, class: "btn btn-success"
    = link_to _("Decline"), decline_invite_url(@token), method: :post, class: "btn btn-danger prepend-left-10"
