- blob = @snippet.blob
.js-file-title.file-title-flex-parent
  = render 'projects/blob/header_content', blob: blob

  .file-actions.hidden-xs
    = render 'projects/blob/viewer_switcher', blob: blob

    .btn-group{ role: "group" }<
      = copy_blob_source_button(blob)
      = open_raw_blob_button(blob)

      = link_to icon('download'), download_snippet_path(@snippet), target: '_blank', class: "btn btn-sm has-tooltip", title: _("Download"), data: { container: 'body' }

= render 'projects/blob/content', blob: blob
