.top-area
  %ul.nav-links
    %li{ class: active_when(params[:filter].nil?) }>
      = link_to activity_dashboard_path, class: 'shortcuts-activity', data: {placement: 'right'} do
        = _("Your projects")
    %li{ class: active_when(params[:filter] == 'starred') }>
      = link_to activity_dashboard_path(filter: 'starred'), data: {placement: 'right'} do
        = _("Starred Projects")
