- @hide_top_links = true
- page_title _("Issues")
- header_title  "Issues", issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{current_user.name} issues")

.top-area
  = render 'shared/issuable/nav', type: :issues
  .nav-controls
    = link_to params.merge(rss_url_options), class: 'btn has-tooltip', title: _("Subscribe") do
      = icon('rss')
    = render 'shared/new_project_item_select', path: 'issues/new', label: _("New issue"), with_feature_enabled: 'issues', type: :issues

= render 'shared/issuable/filter', type: :issues
= render 'shared/issues'
