.block.milestone
  .title
    Milestone
    - if can_admin_issue?
      = icon("spinner spin", class: "block-loading")
      = link_to _("Edit"), "#", class: "js-sidebar-dropdown-toggle edit-link pull-right"
  .value
    %span.no-value{ "v-if" => "!issue.milestone" }
      None
    %span.bold.has-tooltip{ "v-if" => "issue.milestone" }
      {{ issue.milestone.title }}
  - if can_admin_issue?
    .selectbox
      %input{ type: "hidden",
        ":value" => "issue.milestone.id",
        name: "issue[milestone_id]",
        "v-if" => "issue.milestone" }
      .dropdown
        %button.dropdown-menu-toggle.js-milestone-select.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", show_no: "true", field_name: "issue[milestone_id]", milestones: milestones_filter_path(format: :json), ability_name: "issue", use_id: "true", default_no: "true" },
          ":data-selected" => "milestoneTitle",
          ":data-issuable-id" => "issue.iid",
          ":data-issue-update" => "'#{build_issue_link_base}/' + issue.iid + '.json'" }
          Milestone
          = icon("chevron-down")
        .dropdown-menu.dropdown-select.dropdown-menu-selectable
          = dropdown_title("Assign milestone")
          = dropdown_filter("Search milestones")
          = dropdown_content
          = dropdown_loading
