= render 'devise/shared/tab_single', tab_title: 'Resend confirmation instructions'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control", required: true, title: _("Please provide a valid email address.")
      .clearfix
        = f.submit _("Resend"), class: 'btn btn-success'

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
