- form = local_assigns.fetch(:form)
- deploy_key = local_assigns.fetch(:deploy_key)
- deploy_keys_project = deploy_key.deploy_keys_project_for(@project)

= form_errors(deploy_key)

.form-group
  = form.label :title, class: 'control-label'
  .col-sm-10= form.text_field :title, class: 'form-control'

.form-group
  - if deploy_key.new_record?
    = form.label :key, class: 'control-label'
    .col-sm-10
      %p.light
        Paste a machine public key here. Read more about how to generate it
        = link_to _("here"), help_page_path('ssh/README')
      = form.text_area :key, class: 'form-control thin_area', rows: 5
  - else
    = form.label :fingerprint, class: 'control-label'
    .col-sm-10
      = form.text_field :fingerprint, class: 'form-control', readonly: 'readonly'

- if deploy_keys_project.present?
  = form.fields_for :deploy_keys_projects, deploy_keys_project do |deploy_keys_project_form|
    .form-group
      .control-label
      .col-sm-10
        = deploy_keys_project_form.label :can_push do
          = deploy_keys_project_form.check_box :can_push
          %strong Write access allowed
        %p.light.append-bottom-0
          Allow this key to push to repository as well? (Default only allows pull access.)
