%div
  = form_for [:profile, @gpg_key], html: { class: 'js-requires-input' } do |f|
    = form_errors(@gpg_key)

    .form-group
      = f.label :key, class: 'label-light'
      = f.text_area :key, class: "form-control", rows: 8, required: true, placeholder: "Don't paste the private part of the GPG key. Paste the public part which begins with '-----BEGIN PGP PUBLIC KEY BLOCK-----'."

    .prepend-top-default
      = f.submit _("Add key"), class: "btn btn-create"
