- if Gitlab.com?
  - content_for :additional_footer do
    %tr
      %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#5c5c5c;" }
        %div
          Everyone can contribute
        %div
          = link_to _("Blog"), 'https://about.gitlab.com/blog/', style: "color:#3777b0;text-decoration:none;"
          &middot;
          = link_to _("Twitter"), 'https://twitter.com/gitlab', style: "color:#3777b0;text-decoration:none;"
          &middot;
          = link_to _("Facebook"), 'https://www.facebook.com/gitlab/', style: "color:#3777b0;text-decoration:none;"
          &middot;
          = link_to _("YouTube"), 'https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg', style: "color:#3777b0;text-decoration:none;"
          &middot;
          = link_to _("LinkedIn"), 'https://www.linkedin.com/company/gitlab-com', style: "color:#3777b0;text-decoration:none;"

= render layout: 'layouts/mailer' do
  %tr
    %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333333;font-size:15px;font-weight:400;line-height:1.4;padding:15px 5px;text-align:center;" }
      = yield
