.container.convdev-empty
  .col-sm-6.col-sm-push-3.text-center
    = custom_icon('convdev_no_data')
    %h4 Data is still calculating...
    %p
      In order to gather accurate feature usage data, it can take 1 to 2 weeks to see your index.
      = link_to _("Learn more"), help_page_path('user/admin_area/monitoring/convdev'), target: '_blank'
