- page_title _("Identities"), @user.name, "Users"
= render 'admin/users/head'

= link_to _("New identity"), new_admin_user_identity_path, class: 'pull-right btn btn-new'
- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th= _("Provider")
          %th= _("Identifier")
          %th
      = render @identities
- else
  %h4 This user has no identities
