#register-pane.tab-pane.login-box{ role: 'tabpanel' }
  .login-body
    = form_for(resource, as: "new_#{resource_name}", url: registration_path(resource_name), html: { class: "new_new_user gl-show-field-errors", "aria-live" => "assertive" }) do |f|
      .devise-errors
        = devise_error_messages!
      .form-group
        = f.label :name, _('Full name')
        = f.text_field :name, class: "form-control top", required: true, title: _("This field is required.")
      .username.form-group
        = f.label :username
        = f.text_field :username, class: "form-control middle", pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS, required: true, title: _("Please create a username with only alphanumeric characters.")
        %p.validation-error.hide Username is already taken.
        %p.validation-success.hide Username is available.
        %p.validation-pending.hide Checking username availability...
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control middle", required: true, title: "Please provide a valid email address."
      .form-group
        = f.label :email_confirmation
        = f.email_field :email_confirmation, class: "form-control middle", required: true, title: "Please retype the email address."
      .form-group.append-bottom-20#password-strength
        = f.label :password
        = f.password_field :password, class: "form-control bottom", required: true, pattern: ".{#{@minimum_password_length},}", title: "Minimum length is #{@minimum_password_length} characters."
        %p.gl-field-hint Minimum length is #{@minimum_password_length} characters
      %div
      - if Gitlab::Recaptcha.enabled?
        = recaptcha_tags
      .submit-container
        = f.submit _("Register"), class: "btn-register btn"
.clearfix.submit-container
  %p
    %span.light Didn't receive a confirmation email?
    = succeed '.' do
      = link_to _("Request a new one"), new_confirmation_path(:user)
