%ul.new-session-tabs.nav-links.nav-tabs{ class: ('custom-provider-tabs' if form_based_providers.any?) }
  - if crowd_enabled?
    %li.active
      = link_to _("Crowd"), "#crowd", 'data-toggle' => 'tab'
  - @ldap_servers.each_with_index do |server, i|
    %li{ class: active_when(i.zero? && !crowd_enabled?) }
      = link_to server['label'], "##{server['provider_name']}",  'data-toggle' => 'tab'
  - if password_authentication_enabled_for_web?
    %li
      = link_to _("Standard"), '#ldap-standard', 'data-toggle' => 'tab'
  - if allow_signup?
    %li
      = link_to _("Register"), '#register-pane', 'data-toggle' => 'tab'
