- return unless current_user

.hidden-xs
  - if can?(current_user, :update_personal_snippet, @snippet)
    = link_to edit_snippet_path(@snippet), class: "btn btn-grouped" do
      Edit
  - if can?(current_user, :admin_personal_snippet, @snippet)
    = link_to snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grouped btn-inverted btn-remove", title: 'Delete Snippet' do
      Delete
  = link_to new_snippet_path, class: "btn btn-grouped btn-inverted btn-create", title: "New snippet" do
    New snippet
  - if @snippet.submittable_as_spam_by?(current_user)
    = link_to _("Submit as spam"), mark_as_spam_snippet_path(@snippet), method: :post, class: 'btn btn-grouped btn-spam', title: 'Submit as spam'
.visible-xs-block.dropdown
  %button.btn.btn-default.btn-block.append-bottom-0.prepend-top-5{ data: { toggle: "dropdown" } }
    Options
    = icon('caret-down')
  .dropdown-menu.dropdown-menu-full-width
    %ul
      %li
        = link_to new_snippet_path, title: "New snippet" do
          New snippet
      - if can?(current_user, :admin_personal_snippet, @snippet)
        %li
          = link_to snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, title: 'Delete Snippet' do
            Delete
      - if can?(current_user, :update_personal_snippet, @snippet)
        %li
          = link_to edit_snippet_path(@snippet) do
            Edit
      - if @snippet.submittable_as_spam_by?(current_user)
        %li
          = link_to _("Submit as spam"), mark_as_spam_snippet_path(@snippet), method: :post
