Profile:

= link_to _("all"), url_for(lineprofiler: 'true'), class: 'js-toggle-modal-peek-line-profile'
\/
= link_to _("app & lib"), url_for(lineprofiler: 'app'), class: 'js-toggle-modal-peek-line-profile'
\/
= link_to _("views"), url_for(lineprofiler: 'views'), class: 'js-toggle-modal-peek-line-profile'
