- is_current_user = current_user == note.author

- if note_editable || !is_current_user
  .dropdown.more-actions.note-actions-item
    = button_tag title: 'More actions', class: 'note-action-button more-actions-toggle has-tooltip btn btn-transparent', data: { toggle: 'dropdown', container: 'body' } do
      %span.icon
        = custom_icon('ellipsis_v')
    %ul.dropdown-menu.more-actions-dropdown.dropdown-open-left
      %li
        = clipboard_button(text: noteable_note_url(note), title: 'Copy reference to clipboard', button_text: _("Copy link"), class: 'btn-clipboard', hide_tooltip: true, hide_button_icon: true)
      - unless is_current_user
        %li
          = link_to new_abuse_report_path(user_id: note.author.id, ref_url: noteable_note_url(note)) do
            Report as abuse
      - if note_editable
        %li
          = link_to note_url(note), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, remote: true, class: 'js-note-delete' do
            %span.text-danger Delete comment
