%ul.list-unstyled.navbar-sub-nav
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to explore_root_path, title: _("Projects"), class: 'dashboard-shortcuts-projects' do
      = _("Projects")
  = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
    = link_to explore_groups_path, title: _("Groups"), class: 'dashboard-shortcuts-groups' do
      = _("Groups")
  = nav_link(controller: :snippets) do
    = link_to explore_snippets_path, title: _("Snippets"), class: 'dashboard-shortcuts-snippets' do
      = _("Snippets")
  %li
    = link_to _("Help"), help_path, title: _("About GitLab CE")
