- page_title _("FogBugz import")
- header_title _("Projects"), root_path
%h3.page-title
  %i.fa.fa-bug
  Import projects from FogBugz

- if @repos.any?
  %p.light
    Select projects you want to import.
  %p.light
    Optionally, you can
    = link_to _("customize"), new_user_map_import_fogbugz_path
    how FogBugz email addresses and usernames are imported into GitLab.
  %hr
  %p
  = button_tag class: 'btn btn-import btn-success js-import-all' do
    Import all projects
    = icon("spinner spin", class: "loading-icon")

.table-responsive
  %table.table.import-jobs
    %colgroup.import-jobs-from-col
    %colgroup.import-jobs-to-col
    %colgroup.import-jobs-status-col
    %thead
      %tr
        %th= _("From FogBugz")
        %th= _("To GitLab")
        %th= _("Status")
    %tbody
      - @already_added_projects.each do |project|
        %tr{ id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}" }
          %td
            = project.import_source
          %td
            = link_to project.full_path, [project.namespace.becomes(Namespace), project]
          %td.job-status
            - if project.import_status == 'finished'
              %span
                %i.fa.fa-check
                done
            - elsif project.import_status == 'started'
              %i.fa.fa-spinner.fa-spin
              started
            - else
              = project.human_import_status_name

      - @repos.each do |repo|
        %tr{ id: "repo_#{repo.id}" }
          %td
            = repo.name
          %td.import-target
            #{current_user.username}/#{repo.name}
          %td.import-actions.job-status
            = button_tag class: "btn btn-import js-add-to-import" do
              Import
              = icon("spinner spin", class: "loading-icon")

.js-importer-status{ data: { jobs_import_path: "#{jobs_import_fogbugz_path}", import_path: "#{import_fogbugz_path}" } }
