- breadcrumb_title _("Labels")
- page_title _("New Label")
- header_title group_title(@group, 'Labels', group_labels_path(@group))

%h3.page-title
  New Label
%hr

= render 'shared/labels/form', url: group_labels_path, back_path: @previous_labels_path
