= render 'devise/shared/tab_single', tab_title: 'Resend unlock instructions'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = devise_error_messages!
      .form-group.append-bottom-20
        = f.label :email
        = f.email_field :email, class: 'form-control', autofocus: 'autofocus', autocapitalize: 'off', autocorrect: 'off', title: _("Please provide a valid email address.")
      .clearfix
        = f.submit _("Resend unlock instructions"), class: 'btn btn-success'

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
