%p.append-bottom-default
  Triggers with the
  %span.label.label-primary legacy
  label do not have an associated user and only have access to the current project.
  %br
  = succeed '.' do
    Learn more in the
    = link_to _("triggers documentation"), help_page_path('ci/triggers/README'), target: '_blank'
