%tr
  %td
    - if can?(current_user, :admin_trigger, trigger)
      %span= trigger.token
      = clipboard_button(text: trigger.token, title: "Copy trigger token to clipboard")
    - else
      %span= trigger.short_token

    .label-container
      - if trigger.legacy?
        %span.label.label-primary.has-tooltip{ title: "Trigger makes use of deprecated functionality" } legacy
      - if !trigger.can_access_project?
        %span.label.label-danger.has-tooltip{ title: "Trigger user has insufficient permissions to project" } invalid

  %td
    - if trigger.description? && trigger.description.length > 15
      %span.has-tooltip{ title: trigger.description }= truncate(trigger.description, length: 15)
    - else
      = trigger.description

  %td
    - if trigger.owner
      .trigger-owner.sr-only= trigger.owner.name
      = user_avatar(user: trigger.owner, size: 20)

  %td
    - if trigger.last_used
      #{time_ago_in_words(trigger.last_used)} ago
    - else
      Never

  %td.text-right.trigger-actions
    - take_ownership_confirmation = "By taking ownership you will bind this trigger to your user account. With this the trigger will have access to all your projects as if it was you. Are you sure?"
    - revoke_trigger_confirmation = "By revoking a trigger you will break any processes making use of it. Are you sure?"
    - if trigger.owner != current_user && can?(current_user, :manage_trigger, trigger)
      = link_to _("Take ownership"), take_ownership_project_trigger_path(@project, trigger), data: { confirm: take_ownership_confirmation }, method: :post, class: "btn btn-default btn-sm btn-trigger-take-ownership"
    - if can?(current_user, :admin_trigger, trigger)
      = link_to edit_project_trigger_path(@project, trigger), method: :get, title: _("Edit"), class: "btn btn-default btn-sm" do
        %i.fa.fa-pencil
    - if can?(current_user, :manage_trigger, trigger)
      = link_to project_trigger_path(@project, trigger), data: { confirm: revoke_trigger_confirmation }, method: :delete, title: _("Revoke"), class: "btn btn-default btn-warning btn-sm btn-trigger-revoke" do
        %i.fa.fa-trash
