- page_title _("Trigger")

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    = render "content"
  .col-lg-9
    %h4.prepend-top-0
      Update trigger
    = render "form", btn_text: _("Save trigger")
