- add_to_breadcrumbs "Applications", oauth_applications_path
- breadcrumb_title @application.name
- page_title @application.name, "Applications"
- @content_class = "limit-container-width" unless fluid_layout

%h3.page-title
  Application: #{@application.name}

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        Application Id
      %td
        %code#application_id= @application.uid
    %tr
      %td
        Secret:
      %td
        %code#secret= @application.secret

    %tr
      %td
        Callback url
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri

    = render "shared/tokens/scopes_list", token: @application

.form-actions
  = link_to _("Edit"), edit_oauth_application_path(@application), class: 'btn btn-primary wide pull-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'
