%div
  = form_for [:profile, @key], html: { class: 'js-requires-input' } do |f|
    = form_errors(@key)

    .form-group
      = f.label :key, class: 'label-light'
      = f.text_area :key, class: "form-control", rows: 8, required: true, placeholder: "Don't paste the private part of the SSH key. Paste the public part, which is usually contained in the file '~/.ssh/id_rsa.pub' and begins with 'ssh-rsa'."
    .form-group
      = f.label :title, class: 'label-light'
      = f.text_field :title, class: "form-control", required: true

    .prepend-top-default
      = f.submit _("Add key"), class: "btn btn-create"
