- page_title _("SSH Keys")
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      SSH keys allow you to establish a secure connection between your computer and GitLab.
  .col-lg-8
    %h5.prepend-top-0
      Add an SSH key
    %p.profile-settings-content
      Before you can add an SSH key you need to
      = link_to _("generate it."), help_page_path("ssh/README")
    = render 'form'
    %hr
    %h5
      Your SSH keys (#{@keys.count})
    .append-bottom-default
      = render 'key_table'
