- page_title _("Edit Deploy Key")
%h3.page-title Edit Deploy Key
%hr

%div
  = form_for [@project.namespace.becomes(Namespace), @project, @deploy_key], html: { class: 'form-horizontal js-requires-input' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit _("Save changes"), class: 'btn-save btn'
      = link_to _("Cancel"), project_settings_repository_path(@project), class: 'btn btn-cancel'
