- page_title _("Issues")
- group_issues_exists = group_issues(@group).exists?
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{@group.name} issues")

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'

- if group_issues_exists
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls
      = link_to params.merge(rss_url_options), class: 'btn' do
        = icon('rss')
        %span.icon-label
          Subscribe
      = render 'shared/new_project_item_select', path: 'issues/new', label: _("New issue"), type: :issues

  = render 'shared/issuable/search_bar', type: :issues

  = render 'shared/issues'
- else
  = render 'shared/empty_states/issues', project_select_button: true
