- breadcrumb_title _("Projects")

.panel.panel-default.prepend-top-default
  .panel-heading
    %strong= @group.name
    projects:
    - if can? current_user, :admin_group, @group
      .controls
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-sm btn-success" do
          New project
  %ul.well-list
    - @projects.each do |project|
      %li
        .list-item-name
          %span{ class: visibility_level_color(project.visibility_level) }
            = visibility_level_icon(project.visibility_level)
          %strong= link_to project.name_with_namespace, project
        .pull-right
          - if project.archived
            %span.label.label-warning archived
          %span.badge
            = storage_counter(project.statistics.storage_size)
          = link_to _("Members"), project_project_members_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-sm"
          = link_to _("Edit"), edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-sm"
          = link_to _("Remove"), project, data: { confirm: remove_project_message(project)}, method: :delete, class: "btn btn-sm btn-remove"
    - if @projects.blank?
      .nothing-here-block This group has no projects yet

= paginate @projects, theme: "gitlab"
