= render 'devise/shared/tab_single', tab_title:'Change your password'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: password_path(:user), html: { method: :put, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label 'New password', for: "user_password"
        = f.password_field :password, class: "form-control top",  required: true, title: 'This field is required'
      .form-group
        = f.label 'Confirm new password', for: "user_password_confirmation"
        = f.password_field :password_confirmation, class: "form-control bottom", title: 'This field is required', required: true
      .clearfix
        = f.submit _("Change your password"), class: "btn btn-primary"

.clearfix.prepend-top-20
  %p
    %span.light Didn't receive a confirmation email?
    = link_to _("Request a new one"), new_confirmation_path(:user)
= render 'devise/shared/sign_in_link'
