- @no_container = true
- page_title _("Terminal for environment"), @environment.name

- content_for :page_specific_javascripts do
  = stylesheet_link_tag "xterm/xterm"
  = page_specific_javascript_bundle_tag("terminal")

%div{ class: container_class }
  .top-area
    .row
      .col-sm-6
        %h3.page-title
          Terminal for environment
          = @environment.name

      .col-sm-6
        .nav-controls
          - if @environment.external_url.present?
            = link_to @environment.external_url, class: 'btn btn-default', target: '_blank', rel: 'noopener noreferrer nofollow' do
              = icon('external-link')
          = render 'projects/deployments/actions', deployment: @environment.last_deployment

.terminal-container{ class: container_class }
  #terminal{ data: { project_path: "#{terminal_project_environment_path(@project, @environment)}.ws" } }
