- blame = local_assigns.fetch(:blame, false)
.nav-block
  .tree-ref-container
    .tree-ref-holder
      = render 'shared/ref_switcher', destination: 'blob', path: @path

    %ul.breadcrumb.repo-breadcrumb
      %li
        = link_to project_tree_path(@project, @ref) do
          = @project.path
      - path_breadcrumbs do |title, path|
        - title = truncate(title, length: 40)
        %li
          - if path == @path
            = link_to project_blob_path(@project, tree_join(@ref, path)) do
              %strong= title
          - else
            = link_to title, project_tree_path(@project, tree_join(@ref, path))

  .tree-controls
    = render 'projects/find_file_link'

    .btn-group{ role: "group" }<
      -# only show normal/blame view links for text files
      - if blob.readable_text?
        - if blame
          = link_to _("Normal view"), project_blob_path(@project, @id),
              class: 'btn'
        - else
          = link_to _("Blame"), project_blame_path(@project, @id),
              class: 'btn js-blob-blame-link' unless blob.empty?

      = link_to _("History"), project_commits_path(@project, @id),
          class: 'btn'

      = link_to _("Permalink"), project_blob_path(@project,
          tree_join(@commit.sha, @path)), class: 'btn js-data-file-blob-permalink-url'
