#modal-create-new-dir.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
        %h3.page-title= _('Create New Directory')
      .modal-body
        = form_tag project_create_dir_path(@project, @id), method: :post, remote: false, class: 'form-horizontal js-create-dir-form js-quick-submit js-requires-input' do
          .form-group
            = label_tag :dir_name, _('Directory name'), class: 'control-label'
            .col-sm-10
              = text_field_tag :dir_name, params[:dir_name], required: true, class: 'form-control'

          = render 'shared/new_commit_form', placeholder: _("Add new directory")

          .form-actions
            = submit_tag _("Create directory"), class: 'btn btn-create'
            = link_to _("Cancel"), '#', class: "btn btn-cancel", "data-dismiss" => "modal"

            - unless can?(current_user, :push_code, @project)
              .inline.prepend-left-10
                = commit_in_fork_help
