- project = project || @project

.git-clone-holder.input-group
  .input-group-btn
    - if allowed_protocols_present?
      .clone-dropdown-btn.btn
        %span
          = enabled_project_button(project, enabled_protocol)
    - else
      %a#clone-dropdown.btn.clone-dropdown-btn{ href: '#', data: { toggle: 'dropdown' } }
        %span
          = default_clone_protocol.upcase
        = icon('caret-down')
      %ul.dropdown-menu.dropdown-menu-selectable.dropdown-menu-right.clone-options-dropdown
        %li
          = ssh_clone_button(project)
        %li
          = http_clone_button(project)

  = text_field_tag :project_clone, default_url_to_repo(project), class: "js-select-on-focus form-control", readonly: true, aria: { label: _("Project clone URL") }
  .input-group-btn
    = clipboard_button(target: '#project_clone', title: _("Copy URL to clipboard"), class: "btn-default btn-clipboard")
