- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('group')
- parent = @group.parent
- group_path = root_url
- group_path << parent.full_path + '/' if parent

.form-group
  = f.label :path, class: 'control-label' do
    = _("Group path")
  .col-sm-10
    .input-group.gl-field-error-anchor
      .group-root-path.input-group-addon.has-tooltip{ title: group_path, :'data-placement' => 'bottom' }
        %span>= root_url
        - if parent
          %strong= parent.full_path + '/'
      = f.hidden_field :parent_id
      = f.text_field :path, placeholder: 'open-source', class: 'form-control',
        autofocus: local_assigns[:autofocus] || false, required: true,
        pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
        title: _("Please choose a group path with no special characters."),
        "data-bind-in" => "#{'create_chat_team' if Gitlab.config.mattermost.enabled}"

    - if @group.persisted?
      .alert.alert-warning.prepend-top-10
        Changing group path can have unintended side effects.
        = succeed '.' do
          = link_to _("Learn more"), help_page_path('user/group/index', anchor: 'changing-a-groups-path'), target: '_blank'

.form-group.group-name-holder
  = f.label :name, class: 'control-label' do
    = _("Group name")
  .col-sm-10
    = f.text_field :name, class: 'form-control',
      required: true,
      title: _("You can choose a descriptive name different from the path.")

.form-group.group-description-holder
  = f.label :description, class: 'control-label'
  .col-sm-10
    = f.text_area :description, maxlength: 250,
        class: 'form-control js-gfm-input', rows: 4
