.gitlab-promo
  = link_to _("Homepage"), promo_url
  = link_to _("Blog"), promo_url + '/blog/'
  = link_to "@gitlab", 'https://twitter.com/gitlab'
  = link_to _("Requests"), 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#feature-proposals'
