.row
  .col-sm-12
    = form_tag project_group_links_path(@project), class: 'js-requires-input', method: :post do
      .form-group
        = label_tag :link_group_id, "Select a group to share with", class: "label-light"
        = groups_select_tag(:link_group_id, data: { skip_groups: @skip_groups }, class: "input-clamp", required: true)
      .form-group
        = label_tag :link_group_access, "Max access level", class: "label-light"
        .select-wrapper
          = select_tag :link_group_access, options_for_select(ProjectGroupLink.access_options, ProjectGroupLink.default_access), class: "form-control select-control"
          = icon('chevron-down')
        .help-block.append-bottom-10
          = link_to _("Read more"), help_page_path("user/permissions"), class: "vlink"
          about role permissions
      .form-group
        = label_tag :expires_at, 'Access expiration date', class: 'label-light'
        .clearable-input
          = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date-groups', placeholder: 'Expiration date', id: 'expires_at_groups'
          %i.clear-icon.js-clear-input
      = submit_tag "Share", class: "btn btn-create"
