- page_title _("Import members")

%h3.page-title
  Import members from another project
%p.light
  Only project members will be imported. Group members will be skipped.
%hr
= form_tag apply_import_project_project_members_path(@project), method: 'post', class: 'form-horizontal' do
  .form-group
    = label_tag :source_project_id, "Project", class: 'control-label'
    .col-sm-10= select_tag(:source_project_id, options_from_collection_for_select(@projects, :id, :name_with_namespace), prompt: "Select project", class: "select2 lg", required: true)

  .form-actions
    = button_tag _("Import project members"), class: "btn btn-create"
    = link_to _("Cancel"), project_project_members_path(@project), class: "btn btn-cancel"
