= form_for [:admin, @application], url: @url, html: {class: 'form-horizontal', role: 'form'} do |f|
  = form_errors(application)

  = content_tag :div, class: 'form-group' do
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
      = doorkeeper_errors_for application, :name

  = content_tag :div, class: 'form-group' do
    = f.label :redirect_uri, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control'
      = doorkeeper_errors_for application, :redirect_uri
      %span.help-block
        Use one line per URI
      - if Doorkeeper.configuration.native_redirect_uri
        %span.help-block
          Use
          %code= Doorkeeper.configuration.native_redirect_uri
          for local tests

  = content_tag :div, class: 'form-group' do
    = f.label :trusted, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :trusted
      %span.help-block
        Trusted applications are automatically authorized on GitLab OAuth flow.

  .form-group
    = f.label :scopes, class: 'col-sm-2 control-label'
    .col-sm-10
      = render 'shared/tokens/scopes_form', prefix: 'doorkeeper_application', token: application, scopes: @scopes

  .form-actions
    = f.submit _("Submit"), class: "btn btn-save wide"
    = link_to _("Cancel"), admin_applications_path, class: "btn btn-cancel"
