- breadcrumb_title _("Jobs")
- @no_container = true

%div{ class: container_class }

  .top-area.scrolling-tabs-container.inner-page-scroll-tabs
    - build_path_proc = ->(scope) { admin_jobs_path(scope: scope) }
    = render "shared/builds/tabs", build_path_proc: build_path_proc, all_builds: @all_builds, scope: @scope

    .nav-controls
      - if @all_builds.running_or_pending.any?
        = link_to _("Cancel all"), cancel_all_admin_jobs_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

  .row-content-block.second-block
    #{(@scope || 'all').capitalize} jobs

  %ul.content-list.builds-content-list.admin-builds-table
    = render "projects/jobs/table", builds: @builds, admin: true
