- @no_container = true
- add_to_breadcrumbs "Wiki", get_project_wiki_path(@project)
- breadcrumb_title s_("Wiki|Pages")
- page_title s_("Wiki|Pages"), _("Wiki")

%div{ class: container_class }
  .wiki-page-header

    .nav-text
      %h2.wiki-page-title
        = s_("Wiki|Wiki Pages")

    .nav-controls
      = link_to project_wikis_git_access_path(@project), class: 'btn' do
        = icon('cloud-download')
        = _("Clone repository")

  %ul.wiki-pages-list.content-list
    = render @wiki_entries, context: "pages"

  = paginate @wiki_pages, theme: 'gitlab'
