.js-projects-list-holder
  - if @projects.any?
    %ul.projects-list.content-list.admin-projects
      - @projects.each_with_index do |project|
        %li.project-row{ class: ('no-description' if project.description.blank?) }
          .controls
            = link_to _("Edit"), edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn"
            = link_to _("Delete"), [project.namespace.becomes(Namespace), project], data: { confirm: remove_project_message(project) }, method: :delete, class: "btn btn-remove"
          .stats
            %span.badge
              = storage_counter(project.statistics.storage_size)
            - if project.archived
              %span.label.label-warning archived
          .title
            = link_to [:admin, project.namespace.becomes(Namespace), project] do
              .dash-project-avatar
                .avatar-container.s40
                  = project_icon(project, alt: '', class: 'avatar project-avatar s40')
              %span.project-full-name
                %span.namespace-name
                  - if project.namespace
                    = project.namespace.human_name
                    \/
                %span.project-name
                  = project.name

          - if project.description.present?
            .description
              = markdown_field(project, :description)

    = paginate @projects, theme: 'gitlab'
  - else
    .nothing-here-block No projects found
