- page_title _("Milestones")

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls
    = render 'shared/milestones_sort_dropdown'
    - if can?(current_user, :admin_milestones, @group)
      = link_to _("New milestone"), new_group_milestone_path(@group), class: "btn btn-new"

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
