- page_title _("Impersonation Tokens"), @user.name, "Users"
= render 'admin/users/head'

.row.prepend-top-default
  .col-lg-12
    = render "shared/personal_access_tokens_form", path: admin_user_impersonation_tokens_path, impersonation: true, token: @impersonation_token, scopes: @scopes

    = render "shared/personal_access_tokens_table", impersonation: true, active_tokens: @active_impersonation_tokens, inactive_tokens: @inactive_impersonation_tokens
