= form_for [:admin, @label], html: { class: 'form-horizontal label-form js-requires-input' } do |f|
  = form_errors(@label)

  .form-group
    = f.label :title, class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group
    = f.label :description, class: 'control-label'
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group
    = f.label :color, "Background color", class: 'control-label'
    .col-sm-10
      .input-group
        .input-group-addon.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control"
      .help-block
        Choose any color.
        %br
        Or you can choose one of suggested colors below

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    = f.submit _("Save"), class: 'btn btn-save js-save-button'
    = link_to _("Cancel"), admin_labels_path, class: 'btn btn-cancel'
