.form-actions
  = button_tag _("Commit changes"), class: 'btn commit-btn js-commit-button btn-create'
  = link_to _("Cancel"), cancel_path,
            class: 'btn btn-cancel', data: {confirm: leave_edit_message}

  - unless can?(current_user, :push_code, @project)
    .inline.prepend-left-10
      = commit_in_fork_help
