- return unless current_application_settings.project_export_enabled?

- project = local_assigns.fetch(:project)
- expanded = Rails.env.test?

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Export project
    %button.btn.js-settings-toggle
      = expanded ? 'Collapse' : 'Expand'
    %p
      Export this project with all its related data in order to move your project to a new GitLab instance. Once the export is finished, you can import the file from the "New Project" page.
  .settings-content
    .bs-callout.bs-callout-info
      %p.append-bottom-0
        %p
          The following items will be exported:
        %ul
          %li _("Project and wiki repositories")
          %li _("Project uploads")
          %li _("Project configuration including web hooks and services")
          %li _("Issues with comments, merge requests with diffs and comments, labels, milestones, snippets, and other project entities")
        %p
          The following items will NOT be exported:
        %ul
          %li _("Job traces and artifacts")
          %li _("LFS objects")
          %li _("Container registry images")
          %li _("CI variables")
          %li _("Any encrypted tokens")
    %p
      Once the exported file is ready, you will receive a notification email with a download link.
    - if project.export_project_path
      = link_to _("Download export"),  download_export_project_path(project),
              rel: 'nofollow', download: '', method: :get, class: "btn btn-default"
      = link_to _("Generate new export"),  generate_new_export_project_path(project),
              method: :post, class: "btn btn-default"
    - else
      = link_to _("Export project"), export_project_path(project),
              method: :post, class: "btn btn-default"
