- if current_user
  .js-file-fork-suggestion-section.file-fork-suggestion.hidden
    %span.file-fork-suggestion-note
      You're not allowed to
      %span.js-file-fork-suggestion-section-action
        edit
      files in this project directly. Please fork this project,
      make your changes there, and submit a merge request.
    = link_to _("Fork"), nil, method: :post, class: 'js-fork-suggestion-button btn btn-grouped btn-inverted btn-new'
    %button.js-cancel-fork-suggestion-button.btn.btn-grouped{ type: 'button' }
      Cancel
