#gitlab_import_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
        %h3 Import projects from GitLab.com
      .modal-body
        To enable importing projects from GitLab.com,
        - if current_user.admin?
          as administrator you need to configure
        - else
          ask your GitLab administrator to configure
        = link_to _("OAuth integration"), help_page_path("integration/gitlab")
