- if @wiki_home.present?
  %div{ class: container_class }
    .wiki-holder.prepend-top-default.append-bottom-default
      .wiki
        = render_wiki_content(@wiki_home)
- else
  - can_create_wiki = can?(current_user, :create_wiki, @project)
  .project-home-empty{ class: [('row-content-block' if can_create_wiki), ('content-block' unless can_create_wiki)] }
    .text-center{ class: container_class }
      %h4
        This project does not have a wiki homepage yet
      - if can_create_wiki
        %p
          Add a homepage to your wiki that contains information about your project
        %p
          We recommend you
          = link_to _("add a homepage"), project_wiki_path(@project, :home)
          to your project's wiki and GitLab will show it here instead of this message.
