- ssh_info = @instance_configuration.settings[:ssh_algorithms_hashes]
- if ssh_info.any?
  - content_for :table_content do
    %li= link_to _("SSH host keys fingerprints"), '#ssh-host-keys-fingerprints'

  - content_for :settings_content do
    %h2#ssh-host-keys-fingerprints
      SSH host keys fingerprints

    %p
      Below are the fingerprints for the current instance SSH host keys.

    .table-responsive
      %table
        %thead
          %tr
            %th= _("Algorithm")
            %th= _("MD5")
            %th= _("SHA256")
        %tbody
          - ssh_info.each do |algorithm|
            %tr
              %td= algorithm[:name]
              %td
                %code= instance_configuration_cell_html(algorithm[:md5])
              %td
                %code= instance_configuration_cell_html(algorithm[:sha256])
