- @no_container = true
- page_title _("Logs")

%div{ class: container_class }
  %ul.nav-links.log-tabs
    - @loggers.each do |klass|
      %li{ class: active_when(klass == @loggers.first) }>
        = link_to klass.file_name, "##{klass.file_name_noext}", data: { toggle: 'tab' }
  .row-content-block
    To prevent performance issues admin logs output the last 2000 lines
  .tab-content
    - @loggers.each do |klass|
      .tab-pane{ class: active_when(klass == @loggers.first), id: klass.file_name_noext }
        .file-holder#README
          .js-file-title.file-title
            %i.fa.fa-file
            = klass.file_name
            .pull-right
              = link_to '#', class: 'log-bottom' do
                %i.fa.fa-arrow-down
                Scroll down
          .file-content.logs
            %ol
              - klass.read_latest.each do |line|
                %li
                  %p= line
