%tr{ id: dom_id(runner) }
  %td
    - if runner.shared?
      %span.label.label-success shared
    - else
      %span.label.label-info specific
    - if runner.locked?
      %span.label.label-warning locked
    - unless runner.active?
      %span.label.label-danger paused

  %td
    = link_to admin_runner_path(runner) do
      = runner.short_sha
  %td
    = runner.description
  %td
    = runner.version
  %td
    - if runner.shared?
      n/a
    - else
      = runner.projects.count(:all)
  %td
    #{runner.builds.count(:all)}
  %td
    - runner.tag_list.sort.each do |tag|
      %span.label.label-primary
        = tag
  %td
    - if runner.contacted_at
      #{time_ago_in_words(runner.contacted_at)} ago
    - else
      Never
  %td.admin-runner-btn-group-cell
    .pull-right.btn-group
      = link_to admin_runner_path(runner), class: 'btn btn-sm btn-default has-tooltip', title: _("Edit"), ref: 'tooltip', aria: { label: _("Edit") }, data: { placement: 'top', container: 'body'} do
        = icon('pencil')
      &nbsp;
      - if runner.active?
        = link_to [:pause, :admin, runner], method: :get, class: 'btn btn-sm btn-default has-tooltip', title: _("Pause"), ref: 'tooltip', aria: { label: _("Pause") }, data: { placement: 'top', container: 'body', confirm: "Are you sure?" } do
          = icon('pause')
      - else
        = link_to [:resume, :admin, runner], method: :get, class: 'btn btn-default btn-sm has-tooltip', title: _("Resume"), ref: 'tooltip', aria: { label: _("Resume") }, data: { placement: 'top', container: 'body'} do
          = icon('play')
      = link_to [:admin, runner], method: :delete, class: 'btn btn-danger btn-sm has-tooltip', title: _("Remove"), ref: 'tooltip', aria: { label: _("Remove") }, data: { placement: 'top', container: 'body', confirm: "Are you sure?" } do
        = icon('remove')
