- return unless current_user

.hidden-xs
  - if can?(current_user, :update_project_snippet, @snippet)
    = link_to edit_project_snippet_path(@project, @snippet), class: "btn btn-grouped" do
      Edit
  - if can?(current_user, :update_project_snippet, @snippet)
    = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grouped btn-inverted btn-remove", title: 'Delete Snippet' do
      Delete
  - if can?(current_user, :create_project_snippet, @project)
    = link_to new_project_snippet_path(@project), class: 'btn btn-grouped btn-inverted btn-create', title: "New snippet" do
      New snippet
  - if @snippet.submittable_as_spam_by?(current_user)
    = link_to _("Submit as spam"), mark_as_spam_project_snippet_path(@project, @snippet), method: :post, class: 'btn btn-grouped btn-spam', title: 'Submit as spam'
- if can?(current_user, :create_project_snippet, @project) || can?(current_user, :update_project_snippet, @snippet)
  .visible-xs-block.dropdown
    %button.btn.btn-default.btn-block.append-bottom-0.prepend-top-5{ data: { toggle: "dropdown" } }
      Options
      = icon('caret-down')
    .dropdown-menu.dropdown-menu-full-width
      %ul
        - if can?(current_user, :create_project_snippet, @project)
          %li
            = link_to new_project_snippet_path(@project), title: "New snippet" do
              New snippet
        - if can?(current_user, :update_project_snippet, @snippet)
          %li
            = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: "Are you sure?" }, title: 'Delete Snippet' do
              Delete
        - if can?(current_user, :update_project_snippet, @snippet)
          %li
            = link_to edit_project_snippet_path(@project, @snippet) do
              Edit
        - if @snippet.submittable_as_spam_by?(current_user)
          %li
            = link_to _("Submit as spam"), mark_as_spam_project_snippet_path(@project, @snippet), method: :post
