- add_to_breadcrumbs "Snippets", project_snippets_path(@project)
- breadcrumb_title _("New")
- page_title _("New Snippets")

%h3.page-title
  New Snippet
%hr
= render "shared/snippets/form", url: project_snippets_path(@project, @snippet)
