- content_for(:title, _('Auth Error'))

.container
  = render "shared/errors/graphic_422.svg"
  %h3 Sign-in using #{@provider} auth failed

  %p.light.subtitle Sign-in failed because #{@error}.

  %p Try logging in using your username or email. If you have forgotten your password, try recovering it

  = link_to _("Sign in"), new_session_path(:user), class: 'btn primary'
  = link_to _("Recover password"), new_password_path(:user), class: 'btn secondary'

  %hr
  %p.light If none of the options work, try contacting a GitLab administrator.
