- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title _("Integrations Settings")
- page_title _("Integrations")
= render 'projects/hooks/index'
= render 'projects/services/index'
