= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user gl-show-field-errors', 'aria-live' => 'assertive'}) do |f|
  .form-group
    = f.label _('Username or email'), for: "user_login"
    = f.text_field :login, class: "form-control top", autofocus: "autofocus", autocapitalize: "off", autocorrect: "off", required: true, title: _("This field is required.")
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control bottom", required: true, title: _("This field is required.")
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{ for: "user_remember_me" }
        = f.check_box :remember_me, class: 'remember-me-checkbox'
        %span= _("Remember me")
      .pull-right.forgot-password
        = link_to _("Forgot your password?"), new_password_path(:user)
  .submit-container.move-submit-down
    = f.submit _("Sign in"), class: "btn btn-save"
