= form_tag(omniauth_callback_path(:user, server['provider_name']), id: 'new_ldap_user', class: "gl-show-field-errors") do
  .form-group
    = label_tag :username, "#{server['label']} Username"
    = text_field_tag :username, nil, { class: "form-control top", title: _("This field is required."), autofocus: "autofocus", required: true }
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: "form-control bottom", title: _("This field is required."), required: true }
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{ for: "remember_me" }
        = check_box_tag :remember_me, '1', false, id: 'remember_me'
        %span= _("Remember me")
  = submit_tag _("Sign in"), class: "btn-save btn"
