- if inject_u2f_api?
  - content_for :page_specific_javascripts do
    = page_specific_javascript_bundle_tag('u2f')

%div
  = render 'devise/shared/tab_single', tab_title: 'Two-Factor Authentication'
  .login-box
    .login-body
      - if @user.two_factor_otp_enabled?
        = form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, html: { class: "edit_user gl-show-field-errors js-2fa-form #{'hidden' if @user.two_factor_u2f_enabled?}" }) do |f|
          - resource_params = params[resource_name].presence || params
          = f.hidden_field :remember_me, value: resource_params.fetch(:remember_me, 0)
          %div
            = f.label 'Two-Factor Authentication code', name:  :otp_attempt
            = f.text_field :otp_attempt, class: 'form-control', required: true, autofocus: true, autocomplete: 'off', title: _("This field is required.")
            %p.help-block.hint Enter the code from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes.
            .prepend-top-20
              = f.submit _("Verify code"), class: "btn btn-save"

      - if @user.two_factor_u2f_enabled?
        = render "u2f/authenticate", locals: { params: params, resource: resource, resource_name: resource_name }
