- issues = IssuesFinder.new(current_user, group_id: @group.id, state: 'opened').execute
- merge_requests = MergeRequestsFinder.new(current_user, group_id: @group.id, state: 'opened', non_archived: true).execute

.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to group_path(@group), title: @group.name do
        .avatar-container.s40.group-avatar
          = group_icon(@group, class: "avatar s40 avatar-tile")
        .sidebar-context-title
          = @group.name
    %ul.sidebar-top-level-items
      = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups'], html_options: { class: 'home' }) do
        = link_to group_path(@group) do
          .nav-icon-container
            = sprite_icon('project')
          %span.nav-item-name
            = _("Overview")

        %ul.sidebar-sub-level-items
          = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups'], html_options: { class: "fly-out-top-item" } ) do
            = link_to group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Overview') }
          %li.divider.fly-out-top-item
          = nav_link(path: ['groups#show', 'groups#subgroups'], html_options: { class: 'home' }) do
            = link_to group_path(@group), title: 'Group details' do
              %span
                = _("Details")

          = nav_link(path: 'groups#activity') do
            = link_to activity_group_path(@group), title: _("Activity") do
              %span
                = _("Activity")

      = nav_link(path: ['groups#issues', 'labels#index', 'milestones#index']) do
        = link_to issues_group_path(@group) do
          .nav-icon-container
            = sprite_icon('issues')
          %span.nav-item-name
            = _("Issues")
          %span.badge.count= number_with_delimiter(issues.count)

        %ul.sidebar-sub-level-items
          = nav_link(path: ['groups#issues', 'labels#index', 'milestones#index'], html_options: { class: "fly-out-top-item" } ) do
            = link_to issues_group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Issues') }
              %span.badge.count.issue_counter.fly-out-badge= number_with_delimiter(issues.count)
          %li.divider.fly-out-top-item
          = nav_link(path: 'groups#issues', html_options: { class: 'home' }) do
            = link_to issues_group_path(@group), title: _("List") do
              %span
                = _("List")

          = nav_link(path: 'labels#index') do
            = link_to group_labels_path(@group), title: _("Labels") do
              %span
                = _("Labels")

          = nav_link(path: 'milestones#index') do
            = link_to group_milestones_path(@group), title: _("Milestones") do
              %span
                = _("Milestones")

      = nav_link(path: 'groups#merge_requests') do
        = link_to merge_requests_group_path(@group) do
          .nav-icon-container
            = sprite_icon('git-merge')
          %span.nav-item-name
            = _("Merge Requests")
          %span.badge.count= number_with_delimiter(merge_requests.count)
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'groups#merge_requests', html_options: { class: "fly-out-top-item" } ) do
            = link_to merge_requests_group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Merge Requests') }
              %span.badge.count.merge_counter.js-merge-counter.fly-out-badge= number_with_delimiter(merge_requests.count)
      = nav_link(path: 'group_members#index') do
        = link_to group_group_members_path(@group) do
          .nav-icon-container
            = sprite_icon('users')
          %span.nav-item-name
            = _("Members")
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'group_members#index', html_options: { class: "fly-out-top-item" } ) do
            = link_to group_group_members_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Members') }
      - if current_user && can?(current_user, :admin_group, @group)
        = nav_link(path: %w[groups#projects groups#edit ci_cd#show]) do
          = link_to edit_group_path(@group) do
            .nav-icon-container
              = sprite_icon('settings')
            %span.nav-item-name
              = _("Settings")
          %ul.sidebar-sub-level-items
            = nav_link(path: %w[groups#projects groups#edit ci_cd#show], html_options: { class: "fly-out-top-item" } ) do
              = link_to edit_group_path(@group) do
                %strong.fly-out-top-item-name
                  #{ _('Settings') }
            %li.divider.fly-out-top-item
            = nav_link(path: 'groups#edit') do
              = link_to edit_group_path(@group), title: _("General") do
                %span
                  = _("General")

            = nav_link(path: 'groups#projects') do
              = link_to projects_group_path(@group), title: _("Projects") do
                %span
                  = _("Projects")

            = nav_link(controller: :ci_cd) do
              = link_to group_settings_ci_cd_path(@group), title: 'CI / CD' do
                %span
                  CI / CD

    = render 'shared/sidebar_toggle_button'
