.bs-callout.clearfix
  %p
    User cohorts are shown for the last #{@cohorts[:months_included]}
    months. Only users with activity are counted in the cohort total; inactive
    users are counted separately.
    = link_to icon('question-circle'), help_page_path('user/admin_area/user_cohorts', anchor: 'cohorts'), title: 'About this feature', target: '_blank'

.table-holder
  %table.table
    %thead
      %tr
        %th= _("Registration month")
        %th= _("Inactive users")
        %th= _("Cohort total")
        - @cohorts[:months_included].times do |i|
          %th Month #{i}
    %tbody
      - @cohorts[:cohorts].each do |cohort|
        %tr
          %td= cohort[:registration_month]
          %td= cohort[:inactive]
          %td= cohort[:total]
          - cohort[:activity_months].each do |activity_month|
            %td
              - next if cohort[:total] == '0'
              = activity_month[:percentage]
              %br
              = activity_month[:total]
