- breadcrumb_title _("Cohorts")
- @no_container = true

%div{ class: container_class }
  - if @cohorts
    = render 'cohorts_table'
    = render 'usage_ping'
  - else
    .bs-callout.bs-callout-warning.clearfix
      %p
        User cohorts are only shown when the
        = link_to _("usage ping"), help_page_path('user/admin_area/settings/usage_statistics', anchor: 'usage-ping'), target: '_blank'
        is enabled. To enable it and see user cohorts,
        visit
        = succeed '.' do
          = link_to _("application settings"), admin_application_settings_path(anchor: 'usage-statistics')
