- page_title _("GitHub Import")
- header_title _("Projects"), root_path
%h3.page-title
  = icon 'github', text: _("Import Projects from GitHub")

= render 'import/githubish_status', provider: 'github'
