- @no_container = true
- page_title _("Milestones")

%div{ class: container_class }
  .top-area
    = render 'shared/milestones_filter', counts: milestone_counts(@project.milestones)

    .nav-controls
      = render 'shared/milestones_sort_dropdown'
      - if can?(current_user, :admin_milestone, @project)
        = link_to new_project_milestone_path(@project), class: "btn btn-new", title: 'New milestone' do
          New milestone

  .milestones
    %ul.content-list
      = render @milestones

      - if @milestones.blank?
        %li
          .nothing-here-block No milestones to show

    = paginate @milestones, theme: 'gitlab'
