- @no_container = true
- breadcrumb_title _("Labels")
- page_title _("New Label")

%div{ class: container_class }
  %h3.page-title
    New Label
  %hr
  = render 'shared/labels/form', url: project_labels_path(@project), back_path: project_labels_path(@project)
