- title = capture do
  This commit was signed with a verified signature, but the committer email
  is <strong>not verified</strong> to belong to the same user.

- locals = { signature: signature, title: title, label: _("Unverified"), css_class: ['invalid'], icon: 'icon_status_notfound_borderless', show_user: true }

= render partial: 'projects/commit/signature_badge', locals: locals
