- if @branches_limit_exceeded
  = render 'limit_exceeded_message', objects: :branch, label_for_message: "branches"
- elsif @branches.any?
  - branch = commit_default_branch(@project, @branches)
  = commit_branch_link(project_ref_path(@project, branch), branch)

- if @branches.any? || @tags.any? || @tags_limit_exceeded
  %span
    = link_to _("…"), "#", class: "js-details-expand label label-gray"
    %span.js-details-content.hide
      = commit_branches_links(@project, @branches)
      - if @tags_limit_exceeded
        = render 'limit_exceeded_message', objects: :tag, label_for_message: "tags"
      - else
        = commit_tags_links(@project, @tags)
