- page_title _("Request details")
%h3.page-title
  Request details

%hr

= link_to _("Resend Request"), retry_admin_hook_hook_log_path(@hook, @hook_log), class: "btn btn-default pull-right prepend-left-10"

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }

