- breadcrumb_title _("Cluster")
- page_title _("New Cluster")

.row.prepend-top-default
  .col-sm-4
    = render 'projects/clusters/sidebar'
  .col-sm-8
    = render 'projects/clusters/dropdown', dropdown_text: s_('ClusterIntegration|Add an existing cluster')
    = render 'header'
    .prepend-top-20
      = render 'form'
