- discussion = @note.discussion if @note.part_of_discussion?
- diff_discussion = discussion&.diff_discussion?
- on_image = discussion.on_image? if diff_discussion

- if discussion
  - phrase_end_char = on_image ? "." : ":"

  %p.details
    = succeed phrase_end_char do
      = link_to @note.author_name, user_url(@note.author)

      - if diff_discussion
        - if discussion.new_discussion?
          started a new discussion
        - else
          commented on a discussion

        on #{link_to discussion.file_path, @target_url}
      - else
        - if discussion.new_discussion?
          started a new discussion
        - else
          commented on a #{link_to _("discussion"), @target_url}

- elsif current_application_settings.email_author_in_body
  %p.details
    #{link_to @note.author_name, user_url(@note.author)} commented:

- if diff_discussion && !on_image
  = content_for :head do
    = stylesheet_link_tag 'mailers/highlighted_diff_email'

  %table
    = render partial: "projects/diffs/line",
      collection: discussion.truncated_diff_lines,
      as: :line,
      locals: { diff_file: discussion.diff_file,
        plain: true,
        email: true }

%div
  = markdown(@note.note, pipeline: :email, author: @note.author)
