Hi <%= @user.name %>!

The Administrator created an account for you. Now you are a member of the company GitLab application.

login.................. <%= @user.email %>
<% if @user.created_by_id %>
  <%= link_to _("Click here to set your password"), edit_password_url(@user, :reset_password_token => @token) %>

  <%= reset_token_expire_message %>
<% end %>
