- page_title _("Variables")

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    = render "ci/variables/content"
  .col-lg-9
    %h4.prepend-top-0
      Update variable
    = render "ci/variables/form", btn_text: _("Save variable")
