.table-responsive.variables-table
  %table.table
    %colgroup
      %col
      %col
      %col
      %col{ width: 100 }
    %thead
      %th= _("Key")
      %th= _("Value")
      %th= _("Protected")
      %th
    %tbody
      - @variables.each do |variable|
        - if variable.id?
          %tr
            %td.variable-key= variable.key
            %td.variable-value
              %span.js-secret-value-placeholder
                = '*' * 6
              %span.hide.js-secret-value
                = variable.value
            %td.variable-protected= Gitlab::Utils.boolean_to_yes_no(variable.protected)
            %td.variable-menu
              = link_to variable.edit_path, class: "btn btn-transparent btn-variable-edit" do
                %span.sr-only
                  Update
                = icon("pencil")
              = link_to variable.delete_path, class: "btn btn-transparent btn-variable-delete", method: :delete, data: { confirm: "Are you sure?" } do
                %span.sr-only
                  Remove
                = icon("trash")
