%header.page-header
  %h1 Your authorized applications
%main{ :role => "main" }
  .table-holder
    %table.table.table-striped
      %thead
        %tr
          %th= _("Application")
          %th= _("Created At")
          %th
          %th
      %tbody
        - @applications.each do |application|
          %tr
            %td= application.name
            %td= application.created_at.strftime('%Y-%m-%d %H:%M:%S')
            %td= render 'delete_form', application: application
