The subject will be used as the title of the new issue, and the message will be the description.

= link_to _("Quick actions"), help_page_path('user/project/quick_actions'), target: '_blank', tabindex: -1
and styling with start with a start with a
= link_to _("Markdown"), help_page_path('user/markdown'), target: '_blank', tabindex: -1
are supported. start with a start with a
