- @gfm_form = true

- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    = link_to _("Reopen issue"), issue_path(@issue, issue: {state_event: :reopen}, format: 'json'), data: {original_text: _("Reopen issue"), alternative_text: _("Comment & reopen issue")}, class: "btn btn-nr btn-reopen btn-comment js-note-target-reopen #{issue_button_visibility(@issue, false)}", title: 'Reopen issue'
    = link_to _("Close issue"), issue_path(@issue, issue: {state_event: :close}, format: 'json'), data: {original_text: _("Close issue"), alternative_text: _("Comment & close issue")}, class: "btn btn-nr btn-close btn-comment js-note-target-close #{issue_button_visibility(@issue, true)}", title: 'Close issue'

%section.js-vue-notes-event
  #js-vue-notes{ data: { discussions_path: discussions_project_issue_path(@project, @issue, format: :json),
  register_path: new_session_path(:user, redirect_to_referer: 'yes', anchor: 'register-pane'),
  new_session_path: new_session_path(:user, redirect_to_referer: 'yes'),
  markdown_docs_path: help_page_path('user/markdown'),
  quick_actions_docs_path: help_page_path('user/project/quick_actions'),
  notes_path: notes_url,
  last_fetched_at: Time.now.to_i,
  noteable_data: serialize_issuable(@issue),
  current_user_data: UserSerializer.new.represent(current_user, only_path: true).to_json } }
