= link_to params.merge(rss_url_options), class: 'btn btn-default append-right-10 has-tooltip', title: _("Subscribe") do
  = icon('rss')
- if @can_bulk_update
  = button_tag _("Edit issues"), class: "btn btn-default append-right-10 js-bulk-update-toggle"
= link_to _("New issue"), new_project_issue_path(@project,
                                              issue: { assignee_id: finder.assignee.try(:id),
                                                       milestone_id: finder.milestones.first.try(:id) }),
                                              class: "btn btn-new",
                                              title: "New issue",
                                              id: "new_issue_link"
