- page_title _("Groups and projects"), @user.name, "Users"
= render 'admin/users/head'

- if @user.groups.any?
  .panel.panel-default
    .panel-heading Group projects
    %ul.well-list
      - @user.group_members.includes(:source).each do |group_member|
        - group = group_member.group
        %li.group_member
          %strong= link_to group.name, admin_group_path(group)
          &ndash; access to
          #{pluralize(group.projects.count, 'project')}
          .pull-right
            %span.light.vertical-align-middle= group_member.human_access
            - unless group_member.owner?
              = link_to group_group_member_path(group, group_member), data: { confirm: remove_member_message(group_member) }, method: :delete, remote: true, class: "btn-xs btn btn-remove prepend-left-10", title: 'Remove user from group' do
                %i.fa.fa-times.fa-inverse

.row
  .col-md-6
    - if @personal_projects.present?
      = render 'admin/users/projects', projects: @personal_projects
    - else
      .nothing-here-block This user has no personal projects.


  .col-md-6
    .panel.panel-default
      .panel-heading Joined projects (#{@joined_projects.count})
      %ul.well-list
        - @joined_projects.sort_by(&:name_with_namespace).each do |project|
          - member = project.team.find_member(@user.id)
          %li.project_member
            .list-item-name
              = link_to admin_project_path(project), class: dom_class(project) do
                = project.name_with_namespace

            - if member
              .pull-right
                - if member.owner?
                  %span.light Owner
                - else
                  %span.light.vertical-align-middle= member.human_access

                  - if member.respond_to? :project
                    = link_to project_project_member_path(project, member), data: { confirm: remove_member_message(member) }, remote: true, method: :delete, class: "btn-xs btn btn-remove prepend-left-10", title: 'Remove user from project' do
                      %i.fa.fa-times
