- page_title @path, 'Artifacts', "#{@build.name} (##{@build.id})", 'Jobs'

= render "projects/jobs/header", show_controls: false

.tree-holder
  .nav-block
    %ul.breadcrumb.repo-breadcrumb
      %li
        = link_to _("Artifacts"), browse_project_job_artifacts_path(@project, @build)
      - path_breadcrumbs do |title, path|
        - title = truncate(title, length: 40)
        %li
          - if path == @path
            = link_to file_project_job_artifacts_path(@project, @build, path) do
              %strong= title
          - else
            = link_to title, browse_project_job_artifacts_path(@project, @build, path)


  %article.file-holder
    - blob = @entry.blob
    .js-file-title.file-title-flex-parent
      = render 'projects/blob/header_content', blob: blob

      .file-actions.hidden-xs
        = render 'projects/blob/viewer_switcher', blob: blob

        .btn-group{ role: "group" }<
          = copy_blob_source_button(blob)
          = open_raw_blob_button(blob)

    = render 'projects/blob/content', blob: blob
