- @hide_top_links = true
- page_title _("Milestones")
- header_title _("Milestones"), dashboard_milestones_path

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls
    = render 'shared/new_project_item_select', path: 'milestones/new', label: _("New milestone"), include_groups: true, type: :milestones

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: 'gitlab'
