- content_for :note_actions do
  - if can?(current_user, :update_merge_request, @merge_request)
    - if @merge_request.open?
      = link_to _("Close merge request"), merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: "btn btn-nr btn-comment btn-close close-mr-link js-note-target-close", title: "Close merge request", data: { original_text: _("Close merge request"), alternative_text: _("Comment & close merge request")}
    - if @merge_request.reopenable?
      = link_to _("Reopen merge request"), merge_request_path(@merge_request, merge_request: { state_event: :reopen }), method: :put, class: "btn btn-nr btn-comment btn-reopen reopen-mr-link js-note-target-close js-note-target-reopen", title: _("Reopen merge request"), data: { original_text: _("Reopen merge request"), alternative_text: _("Comment & reopen merge request")}
    %comment-and-resolve-btn{ "inline-template" => true }
      %button.btn.btn-nr.btn-default.append-right-10.js-comment-resolve-button{ "v-if" => "showButton", type: "submit", data: { project_path: "#{project_path(@merge_request.project)}" } }
        {{ buttonText }}

#notes= render "shared/notes/notes_with_form", :autocomplete => true
