- page_title _("Integrations")

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p
      #{link_to _("Webhooks"), help_page_path('user/project/integrations/webhooks')} can be
      used for binding events when something is happening within the project.
  .col-lg-9.append-bottom-default
    = form_for [@project.namespace.becomes(Namespace), @project, @hook], as: :hook, url: project_hook_path(@project, @hook) do |f|
      = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }

      = f.submit _("Save changes"), class: 'btn btn-create'
      = render 'shared/web_hooks/test_button', triggers: ProjectHook::TRIGGERS, hook: @hook
      = link_to _("Remove"), project_hook_path(@project, @hook), method: :delete, class: 'btn btn-remove pull-right', data: { confirm: 'Are you sure?' }

%hr

= render partial: 'projects/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs, project: @project }
