%li.runner{ id: dom_id(runner) }
  %h4
    = runner_status_icon(runner)

    - if @project_runners.include?(runner)
      = link_to runner.short_sha, runner_path(runner), class: 'commit-sha'

      - if runner.locked?
        = icon('lock', class: 'has-tooltip', title: 'Locked to current projects')

      %small.edit-runner
        = link_to edit_project_runner_path(@project, runner) do
          %i.fa.fa-edit.btn
    - else
      %span.commit-sha
        = runner.short_sha

    .pull-right
      - if @project_runners.include?(runner)
        - if runner.active?
          = link_to 'Pause', pause_project_runner_path(@project, runner), method: :post, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure?" }
        - else
          = link_to 'Resume', resume_project_runner_path(@project, runner), method: :post, class: 'btn btn-success btn-sm'
        - if runner.belongs_to_one_project?
          = link_to _("Remove Runner"), runner_path(runner), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm'
        - else
          - runner_project = @project.runner_projects.find_by(runner_id: runner)
          = link_to _("Disable for this project"), project_runner_project_path(@project, runner_project), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm'
      - elsif runner.specific?
        = form_for [@project.namespace.becomes(Namespace), @project, @project.runner_projects.new] do |f|
          = f.hidden_field :runner_id, value: runner.id
          = f.submit _("Enable for this project"), class: 'btn btn-sm'
  .pull-right
    %small.light
      \##{runner.id}
  - if runner.description.present?
    %p.runner-description
      = runner.description
  - if runner.tag_list.present?
    %p
      - runner.tag_list.sort.each do |tag|
        %span.label.label-primary
          = tag
