- page_title "#{@runner.description} ##{@runner.id}", "Runners"

%h3.page-title
  Runner ##{@runner.id}
  .pull-right
    - if @runner.shared?
      %span.runner-state.runner-state-shared
        Shared
    - else
      %span.runner-state.runner-state-specific
        Specific

.table-holder
  %table.table
    %thead
      %tr
        %th= _("Property Name")
        %th= _("Value")
    %tr
      %td _("Active")
      %td= @runner.active? ? 'Yes' : 'No'
    %tr
      %td _("Protected")
      %td= @runner.ref_protected? ? 'Yes' : 'No'
    %tr
      %td _("Can run untagged jobs")
      %td= @runner.run_untagged? ? 'Yes' : 'No'
    %tr
      %td _("Locked to this project")
      %td= @runner.locked? ? 'Yes' : 'No'
    %tr
      %td _("Tags")
      %td
        - @runner.tag_list.sort.each do |tag|
          %span.label.label-primary
            = tag
    %tr
      %td _("Name")
      %td= @runner.name
    %tr
      %td _("Version")
      %td= @runner.version
    %tr
      %td _("Revision")
      %td= @runner.revision
    %tr
      %td _("Platform")
      %td= @runner.platform
    %tr
      %td _("Architecture")
      %td= @runner.architecture
    %tr
      %td _("Description")
      %td= @runner.description
    %tr
      %td _("Last contact")
      %td
        - if @runner.contacted_at
          #{time_ago_in_words(@runner.contacted_at)} ago
        - else
          Never
