- args = { show_project_name: local_assigns.fetch(:show_project_name, false),
           show_full_project_name: local_assigns.fetch(:show_full_project_name, false) }

.row.prepend-top-default
  .col-md-3
    = render 'shared/milestones/issuables', args.merge(title: 'Work in progress (open and unassigned)', issuables: merge_requests.opened.unassigned, id: 'unassigned', show_counter: true)
  .col-md-3
    = render 'shared/milestones/issuables', args.merge(title: 'Waiting for merge (open and assigned)', issuables: merge_requests.opened.assigned, id: 'ongoing', show_counter: true)
  .col-md-3
    = render 'shared/milestones/issuables', args.merge(title: 'Rejected (closed)', issuables: merge_requests.closed, id: 'closed', show_counter: true)
  .col-md-3
    = render 'shared/milestones/issuables', args.merge(title: _("Merged"), issuables: merge_requests.merged, id: 'merged', primary: true, show_counter: true)
