- failed_builds = @pipeline.statuses.latest.failed

.tabs-holder
  %ul.pipelines-tabs.nav-links.no-top.no-bottom
    %li.js-pipeline-tab-link
      = link_to project_pipeline_path(@project, @pipeline), data: { target: 'div#js-tab-pipeline', action: 'pipelines', toggle: 'tab' },  class: 'pipeline-tab' do
        Pipeline
    %li.js-builds-tab-link
      = link_to builds_project_pipeline_path(@project, @pipeline), data: {target: 'div#js-tab-builds', action: 'builds', toggle: 'tab' }, class: 'builds-tab' do
        Jobs
        %span.badge.js-builds-counter= pipeline.total_size
    - if failed_builds.present?
      %li.js-failures-tab-link
        = link_to failures_project_pipeline_path(@project, @pipeline), data: {target: 'div#js-tab-failures', action: 'failures', toggle: 'tab' }, class: 'failures-tab' do
          Failed Jobs
          %span.badge.js-failures-counter= failed_builds.count

.tab-content
  #js-tab-pipeline.tab-pane
    #js-pipeline-graph-vue

  #js-tab-builds.tab-pane
    - if pipeline.yaml_errors.present?
      .bs-callout.bs-callout-danger
        %h4 Found errors in your .gitlab-ci.yml:
        %ul
          - pipeline.yaml_errors.split(",").each do |error|
            %li= error
        You can also test your .gitlab-ci.yml in the #{link_to _("Lint"), ci_lint_path}

    - if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
      .bs-callout.bs-callout-warning
        \.gitlab-ci.yml not found in this commit

    .table-holder.pipeline-holder
      %table.table.ci-table.pipeline
        %thead
          %tr
            %th= _("Status")
            %th= _("Job ID")
            %th= _("Name")
            %th
            %th= _("Coverage")
            %th
        = render partial: "projects/stage/stage", collection: pipeline.legacy_stages, as: :stage
  - if failed_builds.present?
    #js-tab-failures.build-failures.tab-pane
      - failed_builds.each_with_index do |build, index|
        .build-state
          %span.ci-status-icon-failed= custom_icon('icon_status_failed')
          %span.stage
            = build.stage.titleize
          %span.build-name
            = link_to build.name, pipeline_job_url(pipeline, build)
        %pre.build-log= build_summary(build, skip: index >= 10)
