- breadcrumb_title _("Pipelines")
- page_title _("New Pipeline")

%h3.page-title
  New Pipeline
%hr

= form_for @pipeline, as: :pipeline, url: project_pipelines_path(@project), html: { id: "new-pipeline-form", class: "form-horizontal js-new-pipeline-form js-requires-input" } do |f|
  = form_errors(@pipeline)
  .form-group
    = f.label :ref, 'Create for', class: 'control-label'
    .col-sm-10
      = hidden_field_tag 'pipeline[ref]', params[:ref] || @project.default_branch
      = dropdown_tag(params[:ref] || @project.default_branch,
                     options: { toggle_class: 'js-branch-select wide git-revision-dropdown-toggle',
                                filter: true, dropdown_class: "dropdown-menu-selectable git-revision-dropdown", placeholder: "Search branches",
                                data: { selected: params[:ref] || @project.default_branch, field_name: 'pipeline[ref]' } })
      .help-block Existing branch name, tag
  .form-actions
    = f.submit _("Create pipeline"), class: 'btn btn-create', tabindex: 3
    = link_to _("Cancel"), project_pipelines_path(@project), class: 'btn btn-cancel'

%script#availableRefs{ type: "application/json" }= @project.repository.ref_names.to_json.html_safe
