!!! 5
%html{ lang: "en" }
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield

    %hr
    .container
      .footer-links
        = link_to _("Explore"), explore_root_path
        = link_to _("Help"), help_path
        = link_to _("About GitLab"), "https://about.gitlab.com/"
