%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      GitLab
    = stylesheet_link_tag 'notify'
    = yield :head
  %body
    .content
      = yield
    .footer{ style: "margin-top: 10px;" }
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            Reply to this email directly or
            #{link_to _("view it on GitLab"), @target_url}.
          - else
            #{link_to _("View it on GitLab"), @target_url}.
          %br
          -# Don't link the host in the line below, one link in the email is easier to quickly click than two.
          You're receiving this email because of your account on #{Gitlab.config.gitlab.host}.
          If you'd like to receive fewer emails, you can
          - if @labels_url
            adjust your #{link_to _("label subscriptions"), @labels_url}.
          - else
            - if @unsubscribe_url
              = link_to _("unsubscribe"), @unsubscribe_url
              from this thread or
            adjust your notification settings.

          = email_action @target_url
